/*
 * Copyright (C) 2022 Nikola Hadžić
 *
 * This file is part of MaDoIt.
 *
 * MaDoIt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MaDoIt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

@use 'sass:map';

$list-padding: $size-4;
$blockquote-padding: $size-7;
$pre-padding: $size-7;

$table-head-cell-border-width: 2px;
$table-cell-border-width: 1px;

@import '../node_modules/bulma/sass/utilities/mixins';
@import '../node_modules/bulma/sass/utilities/controls';
@import '../node_modules/bulma/sass/utilities/extends';
@import '../node_modules/bulma/sass/components/modal';
@import '../node_modules/bulma/sass/components/navbar';
@import '../node_modules/bulma/sass/components/tabs';
@import '../node_modules/bulma/sass/elements/box';
@import '../node_modules/bulma/sass/elements/button';
@import '../node_modules/bulma/sass/elements/icon';
@import '../node_modules/bulma/sass/elements/notification';
@import '../node_modules/bulma/sass/elements/other';
@import '../node_modules/bulma/sass/elements/table';
@import '../node_modules/bulma/sass/elements/title';
@import '../node_modules/bulma/sass/form/shared';
@import '../node_modules/bulma/sass/form/checkbox-radio';
@import '../node_modules/bulma/sass/form/select';
@import '../node_modules/bulma/sass/form/tools';
@import '../node_modules/bulma/sass/helpers/color';
@import '../node_modules/bulma/sass/helpers/spacing';
@import '../node_modules/bulma/sass/helpers/typography';
@import '../node_modules/bulma/sass/helpers/visibility';
@import '../node_modules/bulma/sass/layout/section';
@import '../node_modules/bulma/sass/base/_all';

mark {
    background-color: $mark-color;
}

h1 {
    @extend .is-1;
}

h2 {
    @extend .is-2;
}

h3 {
    @extend .is-3;
}

h4 {
    @extend .is-4;
}

h5 {
    @extend .is-5;
}

h6 {
    @extend .is-6;
}

ul, ol, dl, dd {
    padding-left: $list-padding;
}

ul {
    list-style-type: square;
}

dt {
    @extend .has-text-weight-bold;
    @extend .is-italic;
    @extend .mb-1;
}

blockquote {
    padding: $blockquote-padding;
    background-color: $blockquote-background-color;
    color: $blockquote-color;
    border-left: 8px groove $blockquote-border;

    h1, h2, h3, h4, h5, h6 {
        color: $blockquote-color;
    }
}

table {
    @extend .table;
    border: 2px solid $table-border;
}

.md-preview {
    * {
        @extend .block;
    }

    br:not(:last-child) {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        @extend .title;
        margin-top: -$navbar-height;
        padding-top: $navbar-height;
    }

    li:not(:last-child), dd:not(:last-child) {
        @extend .mb-2;
    }

    input[type='checkbox'] {
        @extend .mb-2;
        @extend .checkbox;
    }
}

.cm-editor {
    border: 1px solid $scheme-invert-ter;
    font-size: 18px;

    &.cm-focused {
        border: 2px solid $scheme-invert;
    }

    .cm-content {
        font-family: $family-monospace;
    }
}

@media (pointer: coarse) {
    #edit-preview-toggle:hover:not(.is-focused) {
        $color: nth(map.get($button-colors, 'info'), 1);

        background-color: $button-background-color;
        border-color: $color;
        color: $color;
    }
}
