/*
 * Copyright (C) 2022 Nikola Hadžić
 *
 * This file is part of MaDoIt.
 *
 * MaDoIt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MaDoIt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

@charset 'utf-8';

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight:    300;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf');
    font-weight:    300;
    font-style:     italic;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight:    400;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-Italic.ttf');
    font-weight:    400;
    font-style:     italic;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-weight:    500;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf');
    font-weight:    500;
    font-style:     italic;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-weight:    700;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu';
    src:            url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
    font-weight:    700;
    font-style:     italic;
}

$family-sans-serif: 'Ubuntu';

@font-face {
    font-family:    'Ubuntu-Mono';
    src:            url('/fonts/Ubuntu-Mono/UbuntuMono-Regular.ttf');
    font-weight:    400;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu-Mono';
    src:            url('/fonts/Ubuntu-Mono/UbuntuMono-Italic.ttf');
    font-weight:    400;
    font-style:     italic;
}

@font-face {
    font-family:    'Ubuntu-Mono';
    src:            url('/fonts/Ubuntu-Mono/UbuntuMono-Bold.ttf');
    font-weight:    700;
    font-style:     normal;
}

@font-face {
    font-family:    'Ubuntu-Mono';
    src:            url('/fonts/Ubuntu-Mono/UbuntuMono-BoldItalic.ttf');
    font-weight:    700;
    font-style:     italic;
}

$family-monospace: 'Ubuntu-Mono';

@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';
