/*
 * Copyright (C) 2022 Nikola Hadžić
 *
 * This file is part of MaDoIt.
 *
 * MaDoIt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MaDoIt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

@import '_preamble';

$turquoise: hsl(171deg, 100%, 20%);
$yellow: hsl(44deg, 100%, 50%);
$green: hsl(171deg, 100%, 40%);
$orange: hsl(14deg, 100%, 47%);
$cyan: hsl(210deg, 100%, 40%);
$blue: hsl(228deg, 100%, 75%);
$purple: hsl(270deg, 100%, 46%);
$red: hsl(348deg, 100%, 50%);

$primary: $yellow;
$warning: $orange;

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

$text: $grey-light;
$text-light: $grey-lighter;
$text-strong: $grey-lightest;

$background: $black-ter;

@import '_bridge';

$background-invert: findColorInvert($background);

$body-background-color: $scheme-main-bis;
$hr-background-color: $background-invert;

$mark-color: $yellow;

$blockquote-color: $text;
$blockquote-background-color: $grey-dark;
$blockquote-border: $grey-light;

$table-border: $border;

$code: $text;

@import '_postamble';
