//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

div#cookies-modal.modal
    div.modal-background

    div.modal-content
        div.box
            div.block
                h3.title #{__('Accept cookies?')}

                p #{__('This website uses cookies to save user preferences, and for no other purpose. You must accept this cookies usage in order to continue to the website.')}

            div.block
                button#cookies-accept.button.is-success #{__('Accept')}
