//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

div#discard-changes-modal.modal
    div.modal-background(role='Close')

    div.modal-content
        div.box
            div.block
                h3.title #{__('Discard changes?')}

                p #{__('Any changes you\'ve made are unsaved. Are you sure that you want to discard them?')}

            div.block.buttons
                button#discard-changes-cancel.button #{__('Cancel')}
                button#discard-changes-discard.button.is-danger #{__('Discard')}
