//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

script.
    const AppName = '#{AppName}';
    const FileTitleDefault = '#{FileTitleDefault}';
    const FileContentsDefault = '#{FileContentsDefault}';
    const MarkdownFlavorDefault = '#{MarkdownFlavorDefault}';
    const StorageFileTitle = '#{StorageFileTitle}';
    const StorageFileContents = '#{StorageFileContents}';
    const StorageSessionParserFlavor = '#{StorageSessionParserFlavor}';
    const StorageSessionParserBreak = '#{StorageSessionParserBreak}';
    const StorageSessionParserAutolink = '#{StorageSessionParserAutolink}';
    const StorageSessionParserTable = '#{StorageSessionParserTable}';
    const StorageSessionParserStrikethrough = '#{StorageSessionParserStrikethrough}';
    const StorageSessionParserHeaderAnchor = '#{StorageSessionParserHeaderAnchor}';
    const StorageSessionParserSub = '#{StorageSessionParserSub}';
    const StorageSessionParserSuper = '#{StorageSessionParserSuper}';
    const StorageSessionParserFootnote = '#{StorageSessionParserFootnote}';
    const StorageSessionParserDeflist = '#{StorageSessionParserDeflist}';
    const StorageSessionParserTasklist = '#{StorageSessionParserTasklist}';
    const StorageSessionParserAbbr = '#{StorageSessionParserAbbr}';
    const StorageSessionParserEmoji = '#{StorageSessionParserEmoji}';
    const StorageSessionParserIns = '#{StorageSessionParserIns}';
    const StorageSessionParserMark = '#{StorageSessionParserMark}';
    const StorageSessionEditorSyntaxHighlight = '#{StorageSessionEditorSyntaxHighlight}';
    const StorageSessionEditorSyntaxHighlightTable = '#{StorageSessionEditorSyntaxHighlightTable}';
    const StorageSessionEditorSyntaxHighlightStrikethrough = '#{StorageSessionEditorSyntaxHighlightStrikethrough}';
    const StorageSessionEditorSyntaxHighlightSub = '#{StorageSessionEditorSyntaxHighlightSub}';
    const StorageSessionEditorSyntaxHighlightSuper = '#{StorageSessionEditorSyntaxHighlightSuper}';
    const StorageSessionEditorSyntaxHighlightTasklist = '#{StorageSessionEditorSyntaxHighlightTasklist}';
    const StorageSessionEditorSyntaxHighlightEmoji = '#{StorageSessionEditorSyntaxHighlightEmoji}';
    const StorageSessionEditorLineNumbers = '#{StorageSessionEditorLineNumbers}';
    const StorageSessionEditorFolding = '#{StorageSessionEditorFolding}';
    const StorageSessionEditorBracketMatching = '#{StorageSessionEditorBracketMatching}';
    const StorageSessionEditorBracketClosing = '#{StorageSessionEditorBracketClosing}';
    const StorageSessionEditorRectSelection = '#{StorageSessionEditorRectSelection}';
    const StorageSessionEditorActiveLineHighlight = '#{StorageSessionEditorActiveLineHighlight}';
    const StorageSessionEditorSelectionHighlight = '#{StorageSessionEditorSelectionHighlight}';
    const StorageSessionEditorSearch = '#{StorageSessionEditorSearch}';

    const CookiesPolicy = '#{CookiesPolicy}';
    const CookiesSecure = #{CookiesSecure};
    const CookiesAlwaysSecureForNone = #{CookiesAlwaysSecureForNone};
    const CookiesExpire = #{CookiesExpire};
    const CookieCookiesAccepted = '#{CookieCookiesAccepted}';
    const CookieWarnNotMarkdown = '#{CookieWarnNotMarkdown}';
    const CookieTheme = '#{CookieTheme}';
    const CookieI18N = '#{CookieI18N}';
    const CookieGlobalParserFlavor = '#{CookieGlobalParserFlavor}';
    const CookieGlobalParserBreak = '#{CookieGlobalParserBreak}';
    const CookieGlobalParserAutolink = '#{CookieGlobalParserAutolink}';
    const CookieGlobalParserTable = '#{CookieGlobalParserTable}';
    const CookieGlobalParserStrikethrough = '#{CookieGlobalParserStrikethrough}';
    const CookieGlobalParserHeaderAnchor = '#{CookieGlobalParserHeaderAnchor}';
    const CookieGlobalParserSub = '#{CookieGlobalParserSub}';
    const CookieGlobalParserSuper = '#{CookieGlobalParserSuper}';
    const CookieGlobalParserFootnote = '#{CookieGlobalParserFootnote}';
    const CookieGlobalParserDeflist = '#{CookieGlobalParserDeflist}';
    const CookieGlobalParserTasklist = '#{CookieGlobalParserTasklist}';
    const CookieGlobalParserAbbr = '#{CookieGlobalParserAbbr}';
    const CookieGlobalParserEmoji = '#{CookieGlobalParserEmoji}';
    const CookieGlobalParserIns = '#{CookieGlobalParserIns}';
    const CookieGlobalParserMark = '#{CookieGlobalParserMark}';
    const CookieGlobalEditorSyntaxHighlight = '#{CookieGlobalEditorSyntaxHighlight}';
    const CookieGlobalEditorSyntaxHighlightTable = '#{CookieGlobalEditorSyntaxHighlightTable}';
    const CookieGlobalEditorSyntaxHighlightStrikethrough = '#{CookieGlobalEditorSyntaxHighlightStrikethrough}';
    const CookieGlobalEditorSyntaxHighlightSub = '#{CookieGlobalEditorSyntaxHighlightSub}';
    const CookieGlobalEditorSyntaxHighlightSuper = '#{CookieGlobalEditorSyntaxHighlightSuper}';
    const CookieGlobalEditorSyntaxHighlightTasklist = '#{CookieGlobalEditorSyntaxHighlightTasklist}';
    const CookieGlobalEditorSyntaxHighlightEmoji = '#{CookieGlobalEditorSyntaxHighlightEmoji}';
    const CookieGlobalEditorLineNumbers = '#{CookieGlobalEditorLineNumbers}';
    const CookieGlobalEditorFolding = '#{CookieGlobalEditorFolding}';
    const CookieGlobalEditorBracketMatching = '#{CookieGlobalEditorBracketMatching}';
    const CookieGlobalEditorBracketClosing = '#{CookieGlobalEditorBracketClosing}';
    const CookieGlobalEditorRectSelection = '#{CookieGlobalEditorRectSelection}';
    const CookieGlobalEditorActiveLineHighlight = '#{CookieGlobalEditorActiveLineHighlight}';
    const CookieGlobalEditorSelectionHighlight = '#{CookieGlobalEditorSelectionHighlight}';
    const CookieGlobalEditorSearch = '#{CookieGlobalEditorSearch}';

    const Locale = '#{Locale}';

    const cookiesSecure = (CookiesPolicy.localeCompare('None', undefined, { sensitivity: 'accent' }) && CookiesAlwaysSecureForNone) || CookiesSecure;
    const cookiesExpire = CookiesExpire === 0 ? undefined : CookiesExpire;
