//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        title #{AppName} - #{__('Web Markdown Editor')} - #{__('Edit')}

        link(type='image/svg+xml' rel='icon' href='/img/favicon.svg')
        link(type='text/css' rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css')
        link#link-theme(type='text/css' rel='stylesheet')

        include includes/vars

        script(type='application/javascript' src='/jquery/dist/jquery.min.js')
        script(type='application/javascript' src='/markdown-it/dist/markdown-it.min.js')
        script(type='module' src='/js/theme.min.mjs')
        script(type='module' src='/js/cookies.min.mjs')
        script(type='module' src='/js/modals-close.min.mjs')
        script(type='module' src='/js/notifications-close.min.mjs')
        script(type='module' src='/js/burger.min.mjs')
        script(type='module' src='/js/edit.min.mjs')
    body.has-navbar-fixed-top
        include includes/cookies
        include includes/discard-changes

        nav.navbar.is-fixed-top.has-shadow
            div.navbar-brand(role='navigation' aria-label=`${__('Main navigation')}`)
                a#edit-save.navbar-item.has-text-success(href='/')
                    span.icon-text
                        span.icon
                            i.fa-solid.fa-check(aria-hidden='true')
                            |
                        span #{__('Save')}
                a#edit-cancel.navbar-item.has-text-danger(href='#')
                    span.icon-text
                        span.icon
                            i.fa-solid.fa-times(aria-hidden='true')
                            |
                        span #{__('Cancel')}

                div.navbar-item
                    button#edit-preview-toggle.button.is-rounded.is-outlined.is-info
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-eye(aria-hidden='true')
                                |
                            span #{__('Preview')}

                a.navbar-burger(role='button' aria-label=`${__('Menu')}` aria-expanded='false' data-target='edit-burger')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')

            div#settings-burger.navbar-menu
                div.navbar-end
                    a.navbar-item(href='https://gitlab.com/NH000/madoit' target='_blank')
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-code(aria-hidden='true')
                                |
                            span #{__('Source')}

        div#edit-navbar-block.block

        div.block.mx-3
            h6.title
                span.icon-text
                    span.icon
                        i.fa-solid.fa-file(aria-hidden='true')
                        |
                    span#edit-editor-title

            div#edit-editor.block
            div#edit-editor-preview.block.box.md-preview.is-hidden

        div
