//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        title #{AppName} - #{__('Web Markdown Editor')}

        link(type='image/svg+xml' rel='icon' href='/img/favicon.svg')
        link(type='text/css' rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css')
        link#link-theme(type='text/css' rel='stylesheet')

        include includes/vars

        script(type='application/javascript' src='/jquery/dist/jquery.min.js')
        script(type='application/javascript' src='/markdown-it/dist/markdown-it.min.js')
        script(type='module' src='/js/theme.min.mjs')
        script(type='module' src='/js/cookies.min.mjs')
        script(type='module' src='/js/notifications-close.min.mjs')
        script(type='module' src='/js/burger.min.mjs')
        script(type='module' src='/js/index.min.mjs')
    body.has-navbar-fixed-top
        include includes/cookies

        input#index-import-input.is-hidden(type='file' accept='text/markdown')

        nav.navbar.is-fixed-top.has-shadow
            div.navbar-brand(role='navigation' aria-label=`${__('Main navigation')}`)
                a#index-edit.navbar-item.has-text-primary(href='/edit')
                    span.icon-text
                        span.icon
                            i.fa-solid.fa-pencil(aria-hidden='true')
                            |
                        span #{__('Edit')}

                a.navbar-burger(role='button' aria-label=`${__('Menu')}` aria-expanded='false' data-target='index-burger')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')

            div#index-burger.navbar-menu
                div.navbar-start
                    a#index-import.navbar-item(href='#')
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-file-import(aria-hidden='true')
                                |
                            span #{__('Import')}
                    a#index-export.navbar-item
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-file-export(aria-hidden='true')
                                |
                            span #{__('Export')}

                div.navbar-end
                    a#index-settings.navbar-item(href='/settings')
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-cog(aria-hidden='true')
                                |
                            span #{__('Settings')}
                    a#index-source.navbar-item(href='https://gitlab.com/NH000/madoit' target='_blank')
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-code(aria-hidden='true')
                                |
                            span #{__('Source')}

        div.block
            include includes/warnings/not-markdown
            include includes/errors/not-text
            include includes/errors/load-failure

        div.block.mx-3
            h6.title
                span.icon-text
                    span.icon
                        i.fa-solid.fa-file(aria-hidden='true')
                        |
                    span#index-preview-title

            div.box.md-preview

        div
