//-
    Copyright (C) 2022 Nikola Hadžić
//-
    This file is part of MaDoIt.
//-
    MaDoIt is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
//-
    MaDoIt is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
//-
    You should have received a copy of the GNU General Public License
    along with MaDoIt.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        title #{AppName} - #{__('Web Markdown Editor')} - #{__('Settings')}

        link(type='image/svg+xml' rel='icon' href='/img/favicon.svg')
        link(type='text/css' rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css')
        link#link-theme(type='text/css' rel='stylesheet')

        include includes/vars

        script(type='application/javascript' src='/jquery/dist/jquery.min.js')
        script(type='module' src='/js/theme.min.mjs')
        script(type='module' src='/js/cookies.min.mjs')
        script(type='module' src='/js/burger.min.mjs')
        script(type='module' src='/js/settings.min.mjs')
    body.has-navbar-fixed-top
        include includes/cookies

        nav.navbar.is-fixed-top.has-shadow
            div.navbar-brand(role='navigation' aria-label=`${__('Main navigation')}`)
                a#settings-save.navbar-item.has-text-success(href='/')
                    span.icon-text
                        span.icon
                            i.fa-solid.fa-check(aria-hidden='true')
                            |
                        span #{__('Save')}
                a#settings-cancel.navbar-item.has-text-danger(href='/')
                    span.icon-text
                        span.icon
                            i.fa-solid.fa-times(aria-hidden='true')
                            |
                        span #{__('Cancel')}

                a.navbar-burger(role='button' aria-label=`${__('Menu')}` aria-expanded='false' data-target='settings-burger')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')

            div#settings-burger.navbar-menu
                div.navbar-end
                    a.navbar-item(href='https://gitlab.com/NH000/madoit' target='_blank')
                        span.icon-text
                            span.icon
                                i.fa-solid.fa-code(aria-hidden='true')
                                |
                            span #{__('Source')}

        section.section(role='main')
            div.tabs
                ul
                    li.is-active
                        a#settings-link-session(href='#session') #{__('Session')}
                    li
                        a#settings-link-global(href='#global') #{__('Global')}

            mixin parser-opts(settingsSection)
                h3.title #{__('Parser')}

                div.field
                    label.label(for='parser-flavor') #{__('Flavor')}

                    div.control
                        div.select
                            select(id= 'settings-' + settingsSection + '-parser-flavor' name='parser-flavor')
                                option(value='custom') #{__('Custom')}
                                option(value='commonmark') #{__('CommonMark')}
                                option(value='gfm') #{__('GFM')}

                div.ml-4
                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-break' type='checkbox')
                            |  #{__('Newline breaks')}
                            br
                            small #{__('Convert newlines to breaks.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-autolink' type='checkbox')
                            |  #{__('Autolinks')}
                            br
                            small #{__('Convert URL-like texts to links.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-table' type='checkbox')
                            |  #{__('Tables')}
                            br
                            small #{__('Two-dimensional tables.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-strikethrough' type='checkbox')
                            |  #{__('Strikethrough')}
                            br
                            small #{__('Strikethroughed text.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-header-anchor' type='checkbox')
                            |  #{__('Header anchors')}
                            br
                            small #{__('Add anchors to headers.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-sub' type='checkbox')
                            |  #{__('Subscripts')}
                            br
                            small #{__('Pandoc-style text subscripts.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-super' type='checkbox')
                            |  #{__('Superscripts')}
                            br
                            small #{__('Pandoc-style text superscripts.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-footnote' type='checkbox')
                            |  #{__('Footnotes')}
                            br
                            small #{__('Text footnotes and their references.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-deflist' type='checkbox')
                            |  #{__('Definition lists')}
                            br
                            small #{__('Lists with item names and their definitions.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-tasklist' type='checkbox')
                            |  #{__('Task lists')}
                            br
                            small #{__('Lists with completion checkboxes.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-abbr' type='checkbox')
                            |  #{__('Abbreviations')}
                            br
                            small #{__('Text abbreviations, shown as tooltips.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-emoji' type='checkbox')
                            |  #{__('Emojis')}
                            br
                            small #{__('Emoji support.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-ins' type='checkbox')
                            |  #{__('Insert')}
                            br
                            small #{__('Inserted text.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-parser-mark' type='checkbox')
                            |  #{__('Mark')}
                            br
                            small #{__('Marked text.')}

            mixin editor-opts(settingsSection)
                h3.title #{__('Editor')}

                div.field
                    label.label #{__('Extensions')}

                div.ml-4
                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-syntax-highlight' type='checkbox')
                            |  #{__('Syntax highlight')}
                            br
                            small #{__('Core syntax highlighting.')}

                    div.field.ml-4
                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-table' type='checkbox')
                                |  #{__('Table')}
                                br
                                small #{__('Table syntax highlighting.')}

                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-strikethrough' type='checkbox')
                                |  #{__('Strikethrough')}
                                br
                                small #{__('Strikethroughed text syntax highlighting.')}

                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-sub' type='checkbox')
                                |  #{__('Subscript')}
                                br
                                small #{__('Pandoc-style subscript text syntax highlighting.')}

                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-super' type='checkbox')
                                |  #{__('Superscript')}
                                br
                                small #{__('Pandoc-style superscript text syntax highlighting.')}

                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-tasklist' type='checkbox')
                                |  #{__('Task list')}
                                br
                                small #{__('Task list syntax highlighting.')}

                        div.field
                            label.checkbox
                                input(id= 'settings-' + settingsSection + '-editor-syntax-highlight-emoji' type='checkbox')
                                |  #{__('Emoji')}
                                br
                                small #{__('Emoji code syntax highlighting.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-line-numbers' type='checkbox')
                            |  #{__('Line numbers')}
                            br
                            small #{__('Line numbers gutter.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-folding' type='checkbox')
                            |  #{__('Code folding')}
                            br
                            small #{__('Code folding gutter.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-bracket-matching' type='checkbox')
                            |  #{__('Bracket matching')}
                            br
                            small #{__('Highlight matching brackets.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-bracket-closing' type='checkbox')
                            |  #{__('Bracket closing')}
                            br
                            small #{__('Automatically close brackets upon their opening.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-rect-selection' type='checkbox')
                            |  #{__('Rectangular selection')}
                            br
                            small #{__('Select text rectangularly.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-active-line-highlight' type='checkbox')
                            |  #{__('Active line highlight')}
                            br
                            small #{__('Highlight active line.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-selection-highlight' type='checkbox')
                            |  #{__('Selection highlight')}
                            br
                            small #{__('Highlight other instances of the selected text.')}

                    div.field
                        label.checkbox
                            input(id= 'settings-' + settingsSection + '-editor-search' type='checkbox')
                            |  #{__('Search / Replace')}
                            br
                            small #{__('Automatic searching for and replacement of text.')}

            div#settings-session
                h2.title #{__('Session settings')}

                div.field.mt-5
                    +parser-opts('session')

                div.field.mt-5
                    +editor-opts('session')

            div#settings-global.is-hidden
                h2.title #{__('Global settings')}

                div.field
                    label.checkbox
                        input#settings-global-warn-not-markdown(type='checkbox')
                        |  #{__('Show warning when a non-Markdown file is imported.')}

                div.field
                    label.label(for='theme') #{__('Theme')}

                    div.control
                        div.select
                            select#settings-global-theme(name='theme')
                                option(value='system') #{__('System')}
                                option(value='light') #{__('Light')}
                                option(value='dark') #{__('Dark')}

                div.field
                    label.label(for='language') #{__('Language')}

                    div.control
                        div.select
                            select#settings-global-language(name='language')
                                option(value='en' selected= `${Locale}` == 'en') #{__('English (US)')}
                                option(value='sr-Cyrl' selected= `${Locale}` == 'sr-Cyrl') #{__('Serbian (Cyrillic)')}
                                option(value='sr-Latn' selected= `${Locale}` == 'sr-Latn') #{__('Serbian (Latin)')}

                div.field.mt-5
                    label.is-italic #{__('The following settings will change the default option values, but not the current session configuration.')}

                div.field.mt-5
                    +parser-opts('global')

                div.field.mt-5
                    +editor-opts('global')
